.env/*
!.env/.postgres
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
*.log
*.sqlite3
*.db
local_settings.py
media/
staticfiles/
.vscode/
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
*.orig
api_requests.log
venv/
env/
ENV/
.venv/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
htmlcov/
.coverage
.tox/
.cache/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.idea/
*.sublime-project
*.sublime-workspace
